@media all and (max-width: 991.98px) {
    
    
}
body{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #515c6a;
}
*{
    box-sizing: border-box;
}
body{
    /* background-color: black ; */
}
.name{
    font-family: "Poppins";
    padding: 15px 0;
}
.icons{
    color: red;
    transition: .7s;
    
}
.socialmedia .icons:hover {
    color: #fff;
    background-color: red;
    border-radius: 50%;
}
.firstSection{
    background: url(../images/1.jpg) center top / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 90px 0;
}
.secondSection{
    padding: 90px 0;
    background-size: cover;
}
h4{
    font-family: "Poppins";
}
.myinfo{
    font-family: "Poppins";
    font-size: 64px;
    margin: 0;
    line-height: 70px;
}
.myinfo1{
    font-family: "Poppins";
    font-size: 34px;
    margin: 0;
    line-height: 70px;
}
.paragraph{
    font-size: 17px;
    line-height: 1.7em;
    margin-top: 0;
    font-weight: 600;
    font-family: "Poppins";
}
h2{
    font-family: "Poppins";
    font-weight: bold;
    color: #35404e;
}
.secondImage{
    
    right: -4%;
    bottom: -7%;
    width: 40%;
    /* height: 40%; */
    box-shadow: 2px 20px 30px 0px rgb(20 20 20 / 20%);  
    z-index: 1;
}
.aboutMe{
    font-family: "Poppins";
}
.aboutMeP{
    font-family: 'Nunito', sans-serif;
    color: #515c6a;
    line-height: 1.7em;
}
.thirdSection{
    background-color: rgb(246, 247, 251);
}
.fa-laptop:before {
    content: "\f109";
}
.i-color{
    border: solid 1px #dddddd;
    border-color: #d83434;;
    text-align: center;
    padding: 22px 0;
    min-width: 80px;
    height: 80px;
    border-radius: 60px;
    font-size: 36px;
    color: #d83434;
}
.fourthSection{
    background: url(../images/4.jpg) 0% 0% / cover fixed;
    padding: 90px 0;
}
.fifthSection{
    padding: 90px 0;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.sixthSection{
    padding: 90px 0;
}
h5{
    color:#d83434;
    font-family: "Poppins";
    font-weight: bold;

}
.sixthSection h2{
    font-size: 40px;
}
li{
    list-style-type: none;
    font-size: 11px;
}
li a{
    padding: 5px 20px ;
    color: #515c6a; 
    transition: .3s;
}

li a:hover {
    color: #111;
    
}
ul li{
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 11px;
}
.gallery div{
    cursor: pointer;
}
.overlay{
    opacity: 0;
}
.gallery .overlay:hover {
    opacity: 1;
    background-color: rgba(216, 52, 52, 0.8);
    transition: .3s;
    padding-top: 30%;
    font-family: 'Poppins';
    font-size: 16px;
    color:white;
}
section{
    padding: 90px 0;
}
.seventhSection h2{
   
        font-size: 40px;
    
}
.redDivInner{
    border-radius: 10px 10px 0 0;
}
.post-date{
    margin-right: 20px;
    font-size: 13px;
    color: white;
    font-family: "Nunito";
}
.post-text{
    padding: 10px 20px 0 30px;
}
.post-text h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    font-family: "Poppins";
    font-weight: bold;
    color: #35404e;
}
