@media all and (max-width: 991.98px) {
    
    
}
body{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #515c6a;
}
*{
    box-sizing: border-box;
}
body{
    /* background-color: black ; */
}
.name{
    font-family: "Poppins";
    padding: 15px 0;
}
.icons{
    color: red;
    transition: .7s;
    
}
.socialmedia .icons:hover {
    color: #fff;
    background-color: red;
    border-radius: 50%;
}
.firstSection{
    background: url(../images/1.jpg) center top / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 90px 0;
}
.secondSection{
    padding: 90px 0;
    background-size: cover;
}
h4{
    font-family: "Poppins";
}
.myinfo{
    font-family: "Poppins";
    font-size: 64px;
    margin: 0;
    line-height: 70px;
}
.myinfo1{
    font-family: "Poppins";
    font-size: 34px;
    margin: 0;
    line-height: 70px;
}
.paragraph{
    font-size: 17px;
    line-height: 1.7em;
    margin-top: 0;
    font-weight: 600;
    font-family: "Poppins";
}
h2{
    font-family: "Poppins";
    font-weight: bold;
    color: #35404e;
}
.secondImage{
    
    right: -4%;
    bottom: -7%;
    width: 40%;
    /* height: 40%; */
    box-shadow: 2px 20px 30px 0px rgb(20 20 20 / 20%);  
    z-index: 1;
}
.aboutMe{
    font-family: "Poppins";
}
.aboutMeP{
    font-family: 'Nunito', sans-serif;
    color: #515c6a;
    line-height: 1.7em;
}
.thirdSection{
    background-color: rgb(246, 247, 251);
}
.fa-laptop:before {
    content: "\f109";
}
.i-color{
    border: solid 1px #dddddd;
    border-color: #d83434;;
    text-align: center;
    padding: 22px 0;
    min-width: 80px;
    height: 80px;
    border-radius: 60px;
    font-size: 36px;
    color: #d83434;
}